.info{
  color:whitesmoke; 
}

.info h1{
  color: brown;
  font-size: 4rem;
}

.tiempo{
  font-weight: 700;
  font-size: 1.3rem;
}

.grados{
  font-weight: 700;
  font-size: 2.5rem;
}

.info img{
  max-height: 10rem;
  max-width: 10rem;
  min-width: 4.5rem;
  min-height: 4.5rem;
  height: auto;
  width: auto;
}